img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(144, 152, 165);
    font-size: 36px;
    padding: 20px;
    position: sticky;
    top: 0;
}

section {
    font-size: 24px;
    padding: 25px;
}

#box {
    background-color: rgb(white); 
}

#presentacion {
    background-color: rgb(3, 91, 241);
    font-size: 36px;
    text-align: center;
    color: white;   
}

#biografia {
    background-color: rgb(3, 91, 241);
    font-size: 24px;
    text-align: left;
    color: white;
}

#intereses {
    background-color: rgb(white);
    font-size: 24px;
    text-align: left;
}

li {
    padding: 10px;
    list-style-type: disc;
    list-style-position: inside;
}

li::marker {
    color: rgb(255, 164, 0);
  }

/* Fuente w3 schools */ 
footer {
    background-color: rgb(144, 152, 165);
    font-size: 36px;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
